---
---

@import "{{ site.theme }}";

body{
  line-height: 1.7 !important;
  font-size: 20px !important;
}

h1, h2, h3{
  line-height: 1.3;  
}
h1{
  margin-bottom: 40px !important;
}
p, h2, ul{
  margin-bottom: 30px !important;  
}

li{
  margin-bottom: 16px !important;
}
